<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:theme="@style/Theme.LinguaLive">

        <service
            android:name=".audio.AudioCaptureService"
            android:foregroundServiceType="mediaProjection|microphone" />

    </application>
</manifest>